.profile {
  align-items: center;
  padding: 40px 20px;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 90%;
  margin-top: 5%;
  background: #C19EE0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 62px;

  .profile_picture{
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 100px;
      height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20%;
    }
  }

  .profile_name{
    align-items: center;
    margin-bottom: 20px;
    h1 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  .profile_info{
    align-items: flex-end;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    h2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 26px;
      color: #FFFFFF;
    }
    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 26px;

      color: #FFFFFF;
    }

  }

  .posts {
    width: 60vw;
    margin: auto;
  }
}