.Landing-root{
  display: flex;
  .title-desk{
    width: 40%;
    margin: auto;
    h1{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 75px;
      /* identical to box height */
      text-align: center;
      color: #2D1044;
    }

    p{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 29px;
      line-height: 47px;
      text-align: justify;
      color: #2D1044;
    }
  }
  .options-desk{
    width: 40%;
    height: 80vh;
    .options-container{
      margin-top: 20vh;
      .options-button{
        background: #A06CD5;
        border-radius: 15px;
        width: 45%;
        text-align: center;
        padding: 10px;
        margin: auto;
        margin-top: -25px;
        a{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 56px;
          text-decoration: none;
          color: #F2EBFB;
        }
      }
      .options-title{
        margin-top: 65px;
        h1{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 56px;
          text-align: center;
          color: #2D1044;
        }

      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .Landing-root{
    display: block;
    .title-desk{
      width: 80%;
      margin-top: 10vh;

      h1{
        font-size: 40px;
      }

      p{
        font-size: 23px;
      }


    }

    .options-desk{
      margin: auto;
      width: 80%;
      height: auto;
      .options-container{
        margin-top: 15vh;
        margin-bottom: 15vh;

        .options-button{
          margin-top: 2vh;
          a{
            font-size: 25px;
          }
        }

        .options-title{
          h1{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 47px;
            text-align: center;
            color: #2D1044;
          }
        }
      }
    }
  }
}